{% extends "base.html.twig" %}

{% block title %}Forum - Modifier profil{% endblock %}

{% block body %}
<main class="profilEdit">
    <h1>Modifier votre profil</h1>

    {% for message in app.flashes('success') %}
        <div>
            {{message}}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div>
            {{message}}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_label(form.pseudo) }}
        {{ form_widget(form.pseudo) }}
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
</main>
{% endblock %}