{% extends 'base.html.twig' %}

{% block title %}Forum - Sous categorie de {{ catTitle }}{% endblock %}

{% block body %}
<main>
    <h1>Sous categorie de {{ catTitle }}</h1>
    <p><a href="{{ path('app_home') }}">Accueil</a> > <a href="{{ path('app_forum_list') }}">Forum</a> > {{ catTitle }}</p>
    <section>
    {% for subCat in subCategories %}
        <a href="{{ path('app_sub_show', { 'catId': catId, 'id': subCat.id }) }}">
        <div style="border:1px solid black; padding:15px;width: 400px;">
            <div>
                <h2>{{ subCat.title }}</h2>
                <p>{{ subCat.description }}</p>
            </div>
            <div>
                <p>{{ subCat.topics|length }} sujets</p>
            </div>
            <div>
                <p>Dernier sujet : </p>
                <div style="display:flex;">
                    <p>
                        {{ subCat.topics|sort((a, b) => b.updatedAt <=> a.updatedAt)|first.title }}
                        le {{ subCat.topics|sort((a, b) => b.updatedAt <=> a.updatedAt)|first.updatedAt|date('d/m/Y à h:i:s') }}
                    </p>
                    <p>par {{ subCat.topics|sort((a, b) => b.updatedAt <=> a.updatedAt)|first.user.pseudo }}</p>
                </div>
            </div>
        </div>
        </a>
    {% endfor %}
    </section>
</main>
{% endblock %}
