{% extends "base.html.twig" %}

{% block title %}
    Forum - Nouveau sujet
{% endblock %}

{% block body %}
<main class='newTopic'>
    <h1>Nouveau Sujet</h1>
    
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_label(form.subTitle) }}
    {{ form_widget(form.subTitle) }}
    {{ form_widget(form.mainContent) }}
</main>
{% endblock %}