{% extends "base.html.twig" %}

{% block title %}Forum - {{ subject.title }}{% endblock %}

{% block body %}
    <main>
        <section class="topic__top">
            <p class="topic__top__nav"><a href="{{ path('app_home') }}">Accueil</a> > <a href="{{ path('app_forum_list') }}">Forum</a> > <a href="{{ path('app_cat_show', { 'id': catId }) }}">{{ catTitle }}</a> > <a href="{{ path('app_sub_show', { 'catId': catId, 'id': subId }) }}">{{ subTitle }}</a> > {{ subject.title }}</p>
            <div class="topic__top__nav__sub">
                <h1>{{ subject.title }}</h1>
                {% if subject.subTitle %}
                    <h2>{{ subject.subTitle }}</h2>
                {% endif %}
            </div>
            <div class="topic__top__nav__cont">
            <div class="topic__top__nav__cont__line"></div>
        </div>
        </section>
        
        <section class="topic__pagination">
            <div class="navigation topic__pagination__nav">
                {{ knp_pagination_render(responses) }}
            </div>
        </section>

        <section class="topic__subjectCont">
            <div class="topic__subjectCont__subject">
                <div class="topic__subjectCont__subject__userInfo">
                    <p>{{ subject.user.pseudo }}</p>
                    <div class="topic__subjectCont__subject__userInfo__img"></div>
                </div>
                <div class="topic__subjectCont__subject__content">
                    <div class="topic__subjectCont__subject__content__cont">
                        <p class="topic__subjectCont__subject__content__cont__date">{{ subject.updatedAt|date('d/m/Y à h:i:s') }}</p>
                        <div class="topic__subjectCont__subject__content__cont__optionsCont">
                            {% if ((app.user and app.user is same as subject.user) or (app.user and 'ROLE_ADMIN' in app.user.roles)) and subject.isLock is same as false %}
                                <a class="topic__subjectCont__subject__content__cont__optionsCont__userBtn" onClick="displayTopicForm()">Modifier</a>
                                <a class="topic__subjectCont__subject__content__cont__optionsCont__userBtn" href="{{ path('app_topic_delete', {'id' : subject.id}) }}">Supprimer</a>
                            {% endif %}
                            {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                                {% if subject.isLock is same as true %}
                                    <a class="topic__subjectCont__subject__content__cont__optionsCont__lockBtn" href="{{ path('admin_lock', {'id' : subject.id}) }}">Débloquer</a>
                                {% else %}    
                                    <a class="topic__subjectCont__subject__content__cont__optionsCont__lockBtn" href="{{ path('admin_lock', {'id' : subject.id}) }}">Bloquer</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="topic__subjectCont__subject__content__form topic__subjectCont__subject__content__form topic__subjectCont__subject__content__display  topic__subjectCont__subject__content__display--hidden">
                        {{ form_start(formEdit) }}
                            <div class="topic__subjectCont__subject__content__form__inputs">
                                {{ form_label(formEdit.title) }}
                                {{ form_widget(formEdit.title) }}
                                {{ form_label(formEdit.subTitle) }}
                                {{ form_widget(formEdit.subTitle) }}
                            </div>
                            {{ form_widget(formEdit.mainContent) }}
                            <div class="topic__subjectCont__subject__content__form__submitCont">
                                {{ form_widget(formEdit.submit) }}
                            </div>
                        {{ form_end(formEdit) }}
                    </div>
                    <div class="topic__subjectCont__subject__content__text topic__subjectCont__subject__content__display">{{ subject.mainContent|raw }}</div>
                </div>
            </div>
        </section>
        <section class="topic__response">
        {% for response in responses %}
            <article class="topic__response__article">
                <div class="topic__response__article__userInfo">
                    <p>{{ response.user.pseudo }}</p>
                    <div class="topic__subjectCont__subject__userInfo__img"></div>
                </div>
                <div class="topic__response__article__content">
                    <p class="topic__response__article__content__date">{{ response.updatedAt|date('d/m/Y à h:i:s') }}</p>
                    <div class="topic__response__article__content__resp">
                        {{ response.content|raw }}
                    </div>
                    {% if ((app.user is not null) and (app.user is same as response.user or 'ROLE_ADMIN' in app.user.roles)) and subject.isLock is same as false %}
                        <div class="topic__response__article__content__userBtn">
                            <a href="{{ path('app_topic_show', {'catId': response.topic.subCategory.category.id ,'subId': response.topic.subCategory.id,'id': response.topic.id, 'msg': response.id}) }}"><button>Modifier</button></a>
                            <a onClick="return confirm('Voulez vous vraiment supprimer ce commentaire ?')" href="{{ path('app_resp_delete', {'id': response.id}) }}"><button>Supprimer</button></a>
                        </div>  
                    {% endif %}
                </div>
            </article>    
        {% endfor %}
        </section>
        <section class="topic__pagination">
            <div class="navigation topic__pagination__nav">
                {{ knp_pagination_render(responses) }}
            </div>
        </section>
        <section class="topic__formSection">
            {% if subject.isLock is same as false %}
                {% if app.user %}
                    {{ form_start(form) }}
                        {{ form_widget(form.content) }}
                        <div class="topic__form__btnCont">
                            {{ form_widget(form.submit) }}
                        </div>
                    {{ form_end(form) }}
                {% else %}
                    <div class="topic__form__closed">
                        <p>Vous devez etre connecter pour poster</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="topic__form__closed">
                    <p>Ce sujet est clôs, vous ne pouvez plus repondre.</p>
                </div>
            {% endif %}
        </section>
        {% if (app.request.get('msg') and app.user) and ((app.user is same as respForEdit.user) or 'ROLE_ADMIN' in app.user.roles) %}
        <section class="topic__modalCont">
            <div class="topic__modalCont__modal">
                <div class="topic__modalCont__modal__cancelBtn">
                    <a href="{{ path('app_topic_show', { 'catId': subject.subCategory.category.id , 'subId': subject.subCategory.id , 'id': subject.id }) }}"><button>Annuler</button></a>
                </div>
                {{ form_start(formEditResp) }}
                    {{ form_widget(formEditResp.content) }}
                    <div class="topic__modalCont__modal__btnCont">
                        {{ form_widget(formEditResp.submit) }}
                    </div>
                {{ form_end(formEditResp) }}
            </div>
        </section>
        {% endif %}
    </main>
    <script>
        const displayTopicForm = () => {
            const topicContent = document.querySelectorAll('.topic__subjectCont__subject__content__display');
            
            if(topicContent[0].classList.contains('topic__subjectCont__subject__content__display--hidden')) {
                topicContent[0].classList.remove('topic__subjectCont__subject__content__display--hidden');
                topicContent[1].classList.add('topic__subjectCont__subject__content__display--hidden');
            } else {
                topicContent[1].classList.remove('topic__subjectCont__subject__content__display--hidden');
                topicContent[0].classList.add('topic__subjectCont__subject__content__display--hidden');
            }
        }
    </script>
{% endblock %}