{% extends 'base.html.twig' %}

{% block title %}Forum - Sujet de {{ subCatTitle }}{% endblock %}

{% block body %}
<main>
    <h1>Sujet de {{ subCatTitle }}</h1>
    <p><a href="{{ path('app_home') }}">Accueil</a> > <a href="{{ path('app_forum_list') }}">Forum</a> > <a href="{{ path('app_cat_show', { 'id': catId }) }}">{{ catTitle }}</a> > {{ subCatTitle }}</p>
    <section>
        <h2>Sujets épinglés</h2>
        {% for p in pinned %}
            <a href="{{ path('app_topic_show', { 'catId': catId, 'subId': subCatId, 'id': p.id }) }}">
            <article style="border:1px solid black; padding:15px;width: 1000px;display: flex;justify-content:space-between;">
                <div>
                    <h2>{{ p.title }}</h2>
                    <p>{{ p.subTitle }}</p>
                </div>
                <p>Créer par {{ p.user.pseudo }}</p>
                <p>{{ p.topicResponses|sort((a, b) => b.updatedAt <=> a.updatedAt)|length }} Réponses</p>
                {% if p.topicResponses|length is not same as 0 %}
                    <div>
                        <p>Dernier message par {{ p.topicResponses|sort((a, b) => b.updatedAt <=> a.updatedAt)|first.user.pseudo }}</p>
                        <p>le {{ p.topicResponses|sort((a, b) => b.updatedAt <=> a.updatedAt)|first.updatedAt|date('d/m/Y à h:m:s') }}</p>
                    </div>
                {% else %}
                    <p>Pas encore de réponse</p>
                {% endif %}
            </article>
        </a>
        {% endfor %}
    </section>
    <section>
        <div class="" style="display:flex; justify-content:space-between;width: 1000px;">
            <div class="navigation">
                {{ knp_pagination_render(topics) }}
            </div>
            {% if app.user %}
                <a href="{{ path('app_newTopic', { 'catId': catId, 'subId': subCatId }) }}"><button>Creer un sujet</button></a>
            {% endif %}
        </div>
        {% for topic in topics %}
        <a href="{{ path('app_topic_show', { 'catId': catId, 'subId': subCatId, 'id': topic.id }) }}">
            <article style="border:1px solid black; padding:15px;width: 1000px;display: flex;justify-content:space-between;">
                <div>
                    <h2>{{ topic.title }}</h2>
                    <p>{{ topic.subTitle }}</p>
                </div>
                <p>Créer par {{ topic.user.pseudo }}</p>
                <p>{{ topic.topicResponses|sort((a, b) => b.updatedAt <=> a.updatedAt)|length }} Réponses</p>
                {% if topic.topicResponses|length is not same as 0 %}
                    <div>
                        <p>Dernier message par {{ topic.topicResponses|sort((a, b) => b.updatedAt <=> a.updatedAt)|first.user.pseudo }}</p>
                        <p>le {{ topic.topicResponses|sort((a, b) => b.updatedAt <=> a.updatedAt)|first.updatedAt|date('d/m/Y à h:m:s') }}</p>
                    </div>
                {% else %}
                    <p>Pas encore de réponse</p>
                {% endif %}
            </article>
        </a>
        {% endfor %}
        <div class="" style="display:flex; justify-content:space-between;width: 1000px;">
            <div class="navigation">
                {{ knp_pagination_render(topics) }}
            </div>
            {% if app.user %}
                <a href="{{ path('app_newTopic', { 'catId': catId, 'subId': subCatId }) }}"><button>Creer un sujet</button></a>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}